{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <main>
        <div class="container mt-5">
            {% for post in posts %}
                <article>
                    <span>
                        De: <a href="/search?username={{ post.username }}">{{ post.username }}</a>
                        {% if selfuser is defined and selfuser != null %}
                            {% if "ROLE_ADMIN" in selfuser.roles or selfuser.username == post.username %}
                                {% set lock = null %}
                                {% if post.islock == true %} {% set lock = 1 %} {% else %} {% set lock = 0 %} {% endif %}
                                <button type="submit" class="btn btn-primary ms-1" onclick="openModal2('{{post.description}}', '{{post.username}}', {{post.id}}, {{lock}})" id="myDataButton"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Modifier
                                </button>

                                <button type="button" class="btn btn-sm btn-danger ms-1 delete-post-btn"
                                    data-post-id="{{ post.id }}"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Supprimer
                                </button>
                            {% endif %}
                            {% if "ROLE_ADMIN" in selfuser.roles and post.islock == false %}
                                <form method="POST" action="/lockpost" class="d-inline-flex col">
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <input type="hidden" name="image" value="{{ post.image }}">
                                    <input type="hidden" name="description" value="{{ post.description }}">
                                    <button type="submit" class="btn btn-secondary ms-1"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                        Lock
                                    </button>
                                </form>
                            {% elseif "ROLE_ADMIN" in selfuser.roles and post.islock == true %}
                                <form method="POST" action="/unlockpost" class="d-inline-flex col">
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <input type="hidden" name="image" value="{{ post.image }}">
                                    <input type="hidden" name="description" value="{{ post.description }}">
                                    <button type="submit" class="btn btn-secondary ms-1"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                        UnLock
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </span>
                    <br>
                    <img src="{{ post.image }}"></img>
                    <p>{{ post.description }}</p>           
                    <br>
                </article>
            {% endfor %}
        </div>
    </main>
{% endblock %}