{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <main>
        <div class="container mt-5">
            {% for post in posts %}
                {% if post.islock == false %}
                    <article>
                        <!--{{ dump(post) }}-->
                        <span>
                            De: <a href="/search?username={{ post.user.username }}">{{ post.user.username }}</a>
                            {% if selfuser is defined and selfuser != null %}
                                {% if "ROLE_ADMIN" in selfuser.roles or selfuser.username == post.user.user_identifier %}
                                    <button type="button" class="btn btn-sm btn-danger ms-2 delete-post-btn"
                                    data-post-id="{{ post.id }}"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Supprimer</button>
                                {% endif %}
                            {% endif %}
                        </span>
                        <img src="{{ post.image }}"></img>
                        <p>{{ post.description }}</p>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}