{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} - search{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}  
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <main>
        <img src="{{user.avatar}}"></img>
        <span>{{user.username}}</span>
    </main>
{% endblock %}