{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} - 
    {% if myself is defined %}
        {{ myself }}
    {% else %}
        {{user.user_identifier}} Profile Page
    {% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}  
<<<<<<< HEAD
      <style>
    /* Cacher le bouton de fichier réel */
    input[type="file"] {
      display: none;
    }
  </style>
=======
>>>>>>> 4cae3861ca6912ac60b0e4dd2fcc4bda8792d22f
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <main>
        <div class="container mt-4">
            <!--{{ dump(user) }}-->
             <div class="d-flex justify-content-center align-items-center rounded-circle overflow-hidden shadow-lg bg-light" style="width: 100px; height: 100px;">
                <img class="img-fluid w-100 h-100 object-fit-cover" src="{{ user.avatar }}">
            </div>
            <span>{{user.username}}</span>
            {% if myself is defined %}
                <span>
                    <button type="button" class="btn btn-primary"
<<<<<<< HEAD
                        onclick="document.getElementById('fileInput').click();" 
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Modifier
                    </button>
                    <input type="file" id="fileInput" style="display:none;" onchange="displayFileName(this)">
=======
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Modifier
                    </button>
>>>>>>> 4cae3861ca6912ac60b0e4dd2fcc4bda8792d22f
                </span>
            {% endif %}
        </div>
        <br>
        {% for post in user.posts %}
            <article>
                <img src="{{post.image}}"></img><br>
                <span>{{post.description}}</span>
                <br><br>
            </article>
            <div>
                Commentaires:<br>
                <br>
                {% for comment in post.commentaires %}
                    De: {{comment.user_id.username}}<br>
                    {{comment.content}}
                {% endfor %}
            </div>
        {% endfor %}
    </main>
{% endblock %}