{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} - {{user.user_identifier}} Profile Page{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}  
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <main>
        <div class="container mt-5">
            {{ dump(user) }}
            <img class="img-fluid rounded-circle" src="{{user.avatar}}"></img>
            <span>{{user.username}}</span>
        </div>
        <br>
        <div>
            {% for post in user.posts %}
                <article>
                    <img src="{{post.image}}"></img>
                    <span>{{post.description}}</span>
                    <br><br>
                    <div>
                        Commentaires:<br>
                        <br>
                        {% for comment in post.commentaires %}
                                De: {{comment.user_id.username}}<br>
                                {{comment.content}}
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </main>
{% endblock %}