{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} - 
    {% if myself is defined %}
        {{ myself }}
    {% else %}
        {{user.user_identifier}} Profile Page
    {% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <style>
        input[type="file"] {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}  
     <script>
        function changeInputType(postId) {
            var type1= document.getElementById("type1_"+postId);
            var type2= document.getElementById("type2_"+postId);

            // Check the current type and toggle
            if (type1.type === "hidden") {
                type1.type = "text";
            } else {
                type1.type = "hidden";
            }
            if (type2.type === "hidden") {
                type2.type = "submit";
            } else {
                type2.type = "hidden";
            }
            
        }
    </script>
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <main>
        <div class="container mt-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle overflow-hidden shadow-lg bg-light" style="width: 100px; height: 100px;">
                <img class="img-fluid w-100 h-100 object-fit-cover" 
                {% if user.avatar == null %}
                    src="{{ asset("images/default.png") }}"
                {% else %}
                    src="{{ user.avatar }}"
                {% endif %}
                >
            </div>    
            <span class= "row ps-3">
                {{user.username}}
                {% if myself is defined %}
                    <form class="col" methode="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary"
                            onclick="document.getElementById('fileInput').click();"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            Modifier
                        </button>
                        <input type="file" id="fileInput" style="display:none;" onchange="displayFileName(this)" accept=".png, .jpg, .jpeg">
                    </form>
                {% elseif (acctualuser != null and "ROLE_ADMIN" in acctualuser.roles) and "ROLE_ADMIN" not in user.roles %} 
                    <span class="col">
                        {% if user.ban == false %}
                            <form method="POST" action="/ban">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="username" value="{{ user.username }}">
                                <input type="hidden" name="password" value="{{ user.password }}">
                                <input type="hidden" name="avatar" value="{{ user.avatar }}">
                                <button type="submit" class="btn btn-danger"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Bannir
                                </button>
                            </form>
                        {% else %}
                            <button type="button" class="btn btn-danger unban-put-btn"
                                data-post-id="{{ user.id }}"
                                data-post-username="{{ user.username }}"
                                data-post-password="{{ user.password }}"
                                data-post-avatar="{{ user.avatar }}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Debannir
                            </button>
                        {% endif %}
                    </span>
                {% endif %}
            </span>
        </div>
        <br>
        <div class="container">
            {% for post in user.posts %}
                <article>
                    <img src="{{post.image}}"></img><br>
                    <span>{{post.description}}</span><br>
                    <span>
                        {% if myself is defined %}
                            {% if "ROLE_ADMIN" in user.roles or user.id == post.user %}
                                <button type="submit" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Modifier
                                </button>
                                
                                <button type="button" class="btn btn-sm btn-danger ms-1 delete-post-btn"
                                data-post-id="{{ post.id }}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Supprimer</button>
                            {% endif %}
                        {% endif %}
                    </span>
                    <br><br>
                </article>
                <div>
                    Commentaires ({{post.commentaires|length}}):<br>     
                    {% if post.islock == false and (myself is defined or (acctualuser is defined and acctualuser != null)) %}              
                        <form class="d-flex" action='/createcomment' method="POST">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input class="form-control w-auto" name="commentaire" type="text" placeholder="Believe comment">
                            <button class="btn btn-outline-success ms-2" type="submit">Poster</button>
                        </form>
                    {% endif %}
                    <br>
                    {% for comment in post.commentaires %}
                            De: <a href="/search?username={{ comment.user_id.username }}">{{ comment.user_id.username }}</a>
                        {% if myself is defined or acctualuser is defined %}
                            {% if acctualuser is defined and acctualuser != null and (acctualuser.username == comment.user_id.username or "ROLE_ADMIN" in acctualuser.roles) or (myself is defined and "ROLE_ADMIN" in user.roles) %}  
                                <button type="submit" class="btn btn-primary ms-1"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Modifier
                                </button>

                                <button type="button" class="btn btn-sm btn-danger ms-1 delete-comment-btn"
                                    data-comment-id="{{ comment.id }}"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Supprimer
                                </button>
                            {% endif %}                         
                        {% endif %}
                        <br>
                        {{comment.content}}
                        {% if post.islock == false %}
                            <button class="btn btn-secondary ms-1" onclick="changeInputType({{ comment.id }})"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Répondre
                            </button><br>
                        {% endif %}
                        {% if myself is defined or (acctualuser is defined and acctualuser != null) %}                                 
                            <form class="d-flex my-1" action='/createreponse' method="POST">
                                <input type="hidden" name="commentaire_id" value="{{ comment.id }}">
                                <input id="type1_{{ comment.id }}" class="form-control w-auto" name="reponse" type="hidden" placeholder="Believe reponse comment">
                                <input id="type2_{{ comment.id }}" class="btn btn-outline-success ms-2" value="Poster" type="hidden">
                            </form>
                        {% endif %}
                        <div class="container">
                            {% for reponse in comment.reponses %}
                                De: <a href="/search?username={{ reponse.user.username }}">{{ reponse.user.username }}</a>
                                {% if myself is defined or (acctualuser is defined and acctualuser != null) %}
                                    {% if acctualuser is defined and acctualuser != null and (acctualuser.username == reponse.user.username or "ROLE_ADMIN" in acctualuser.roles) or (myself is defined and "ROLE_ADMIN" in user.roles) %}
                                        <button type="submit" class="btn btn-primary ms-1"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                            Modifier
                                        </button>

                                        <button type="button" class="btn btn-sm btn-danger ms-1 delete-reponse-btn"
                                            data-reponse-id="{{ reponse.id }}"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                        Supprimer</button>
                                    {% endif %}                                     
                                {% endif %}
                                <br>
                                {{reponse.content}}<br>                               
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}