{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} - 
    {% if myself is defined %}
        {{ myself }}
    {% else %}
        {{user.user_identifier}} Profile Page
    {% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}  
    <style>
        input[type="file"] {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <main>
        <div class="container mt-4">
            <div class="d-flex justify-content-center align-items-center rounded-circle overflow-hidden shadow-lg bg-light" style="width: 100px; height: 100px;">
                <img class="img-fluid w-100 h-100 object-fit-cover" 
                {% if user.avatar == null %}
                    src="{{ asset("images/default.png") }}"
                {% else %}
                    src="{{ user.avatar }}"
                {% endif %}
                >
            </div>    
            <span class= "row ps-3">
                {{user.username}}
                {% if myself is defined %}
                    <form class="col" methode="POST" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary"
                            onclick="document.getElementById('fileInput').click();"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            Modifier
                        </button>
                        <input type="file" id="fileInput" style="display:none;" onchange="displayFileName(this)" accept=".png, .jpg, .jpeg">
                    </form>
                {% elseif (acctualuser != null and "ROLE_ADMIN" in acctualuser.roles) and "ROLE_ADMIN" not in user.roles %} 
                    <span class="col">
                        {% if user.ban == false %}
                            <button type="button" class="btn btn-danger ban-put-btn"
                                data-post-id="{{ user.id }}"
                                data-post-username="{{ user.username }}"
                                data-post-password="{{ user.password }}"
                                data-post-avatar="{{ user.avatar }}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Bannir
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-danger unban-put-btn"
                                data-post-id="{{ user.id }}"
                                data-post-username="{{ user.username }}"
                                data-post-password="{{ user.password }}"
                                data-post-avatar="{{ user.avatar }}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Debannir
                            </button>
                        {% endif %}
                    </span>
                {% endif %}
            </span>
        </div>
        <br>
        <div class="container">
            {% for post in user.posts %}
                <article>
                    <img src="{{post.image}}"></img><br>
                    <span>{{post.description}}</span><br>
                    <span>
                        {% if myself is defined %}
                            {% if "ROLE_ADMIN" in user.roles or user.id == post.user %}
                                <button type="submit" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Modifier
                                </button>
                                
                                <button type="button" class="btn btn-sm btn-danger ms-1 delete-post-btn"
                                data-post-id="{{ post.id }}"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                Supprimer</button>
                            {% endif %}
                        {% endif %}
                    </span>
                    <br><br>
                </article>
                <div>
                    Commentaires:<br>
                    <br>
                    {% for comment in post.commentaires %}
                        De: <a href="/search?username={{ comment.user_id.username }}">{{ comment.user_id.username }}</a>
                        {% if myself is defined or acctualuser is defined %}
                            {% if acctualuser is defined and (acctualuser.username == comment.user_id.username or "ROLE_ADMIN" in acctualuser.roles) or "ROLE_ADMIN" in user.roles %}  
                                <button type="submit" class="btn btn-primary ms-1"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Modifier
                                </button>

                                <button type="button" class="btn btn-sm btn-danger ms-1 delete-post-btn"
                                    data-post-id="{#{ id }#}"
                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    Supprimer
                                </button>
                            {% endif %}
                        {% endif %}
                        <br>
                        {{comment.content}}
                        <div class="container">
                            {% for reponse in comment.reponses %}
                                De: <a href="/search?username={{ reponse.user.username }}">{{ reponse.user.username }}</a>
                                {% if myself is defined or (acctualuser is defined and acctualuser != null) %}
                                    {% if acctualuser is defined and (acctualuser.username == reponse.user.username or "ROLE_ADMIN" in acctualuser.roles) or (myself is defined and "ROLE_ADMIN" in user.roles) %}
                                        <button type="submit" class="btn btn-primary ms-1"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                            Modifier
                                        </button>

                                        <button type="button" class="btn btn-sm btn-danger ms-1 delete-post-btn"
                                        data-post-id="{#{ id }#}"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                        Supprimer</button>
                                    {% endif %}
                                {% endif %}
                                <br>
                                {{reponse.content}}<br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}